body {
  font-family: roc-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-kerning: normal;
  font-size: 105px;
  line-height: 150%;
  margin-left: 90px;
  font-family: cheee-oldskool, sans-serif;
  font-weight: 400;
  font-kerning: 50px;
  font-style: normal;
  color: #dcc6f1;
  text-shadow: 2px 2px #000000;
}

h2 {
  font-size: 30px;
  line-height: 150%;
}
p {
  line-height: 150%;
}

img {
  /* limiting the width of img so it takes 100 worth of the parent maximun */
  max-width: 100%;
}

nav {
  background-color: rgb(220, 198, 241);
  position: fixed;
  z-index: 1;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav a li:hover {
  text-decoration: underline;
}

nav ul li {
  display: inline-block;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

nav ul {
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
}

.navmenu {
  margin-left: 75px;
}

header {
  top: 110px;
  position: relative;
  margin-bottom: 220px;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

.button {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  margin-top: 40px;
  display: inline-block;
  border-radius: 20px;
  background-color: white;
  transition: background 0.5s ease-in-out, color ease-in-out;
}

.button:hover {
  background-color: black;
  color: white;
}

.skills-list {
  text-align: right;
  font-size: 30px;
  line-height: 150%;
  margin-bottom: 100px;
  margin-right: 150px;
  color: #dcc6f1;
  padding: 50px;
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.project {
  margin: 30px 0;
  padding: 50px;
}

.lila {
  background-color: #dcc6f1;
  border: 1px solid black;
}

.orange {
  background-color: #f18f01;
  /* border: 1px solid black; */
  color: white;
}

.project .button {
  margin-top: 40px;
}

.skill-back {
  background-color: black;
  margin-right: 0px;
}

.background-vrsk {
  position: absolute;
  margin-top: -220px;
  margin-left: 440px;
}
footer {
  text-align: center;
  margin: 80px;
}

footer h2 {
  font-size: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  color: black;
}
