html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: roc-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 30px;
  line-height: 150%;
}

p {
  line-height: 150%;
}

img {
  /* limiting the width of img so it takes 100 worth of the parent maximun */
  max-width: 100%;
}



.project-img {

  opacity: 1;
  transition: 0.5s ease;
}

.project-img:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}

nav {
  background-color: rgb(220, 198, 241);
  position: fixed;
  z-index: 1;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav a li {
  font-size: 16px;
}

nav a li:hover {
  font-size: 17px;
  text-decoration: 3px underline #ebff00;
}

.active,
nav a li:hover {
  font-size: 17px;
  text-decoration: 3px underline #ebff00;
}

nav ul li {
  display: inline-block;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 12px;
  text-decoration: none;
  color: black;
}

nav ul {
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  text-decoration: none;
}

.navmenu {
  margin-left: 75px;
}

header {
  top: 110px;
  position: relative;
  margin-bottom: 220px;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

.button {
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: 10px 30px;
  margin-top: 40px;
  display: inline-block;
  border-radius: 20px;
  background-color: white;
  box-shadow: 7px 6px #000000;
  transition: background 0.3s ease-in-out, color ease-in-out;
}

.button a {
  font-size: 16px;
}

.button:hover {
  font-size: 17px;
  background-color: #ebff00;
}

.project {
  margin: 30px 0;
  padding: 50px;
}

.lila {
  background-color: #dcc6f1;
  border: 1px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}



hr.solid {
  border-top: 2px solid black;
}

.line {
  border-top: 1px solid black;
}

.line2 {
  border-bottom: 1px solid black;
}

.project .button {
  margin-top: 40px;
}

.skill-back {
  background-color: black;
  margin-right: 0px;
}

footer {
  text-align: center;
  margin: 80px;

}

footer a {
  text-decoration: none;
  color: #dcc6f1;
}

footer h2 {
  font-size: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  color: black;
}

.work {
  padding-top: 100px;
}

.about {

  margin: 30px 0;
  padding: 50px;
  border: 1px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}